<extend name="base" />
<block name="main">
    <div class="panel panel-primary top">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">用户组列表</div>
                <a href="{:U('Home/Index/group_add')}" class="col-xs-1 col-xs-offset-6 btn btn-warning btn-xs">添加用户组</a>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered text-center">
                <thead>
                    <tr class="active">
                        <td>序号</td>
                        <td>名称</td>
                        <td>PID</td>
                        <td>ename</td>
                        <td>创建时间</td>
                        <td>修改时间</td>
                        <td>备注</td>
                        <td>状态</td>
                        <td>操作</td>
                    </tr>
                </thead>
                <volist name="list" id="vo">
                    <tr>
                        <td>{$vo.id}</td>
                        <td>{$vo.name}</td>
                        <td>{$vo.pid}</td>
                        <td>{$vo.ename}</td>
                        <td>{$vo.create_time}</td>
                        <td>{$vo.update_time}</td>
                        <td>{$vo.remark}</td>
                        <td><if condition="$vo.status neq 1">锁定
                            <else/>正常
                            </if>
                        </td>
                        <td><a class="btn btn-danger btn-xs" href="{:U('Home/Index/user_delete')}?id={$vo.id}" role="button">删除</a>
                            <a class="btn btn-info btn-xs" href="{:U('Home/Index/user_edit')}?id={$vo.id}" role="button">修改</a>
                        </td>
                    </tr>
                </volist>
            </table>
        </div>
    </div>
</block>